In [29]:
import numpy as np
import pandas as pd

In [30]:
dataset = pd.read_csv(r"C:\Users\ADMIN\Downloads\A.csv")

In [31]:
dataset

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7
10,35,No,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,...,3,80,1,6,5,3,5,4,0,3
11,29,No,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,15,...,4,80,0,10,3,3,9,5,0,8
12,31,No,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,16,...,4,80,1,5,1,2,5,2,4,3
13,34,No,Travel_Rarely,1346,Research & Development,19,2,Medical,1,18,...,3,80,1,3,2,3,2,2,1,2
14,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,2,80,0,6,4,3,4,2,0,3
15,29,No,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,20,...,3,80,1,10,1,3,10,9,8,8
16,32,No,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,21,...,4,80,2,7,5,2,6,2,0,5
17,22,No,Non-Travel,1123,Research & Development,16,2,Medical,1,22,...,2,80,2,1,2,2,1,0,0,0
18,53,No,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,...,3,80,0,31,3,3,25,8,3,7
19,38,No,Travel_Rarely,371,Research & Development,2,3,Life Sciences,1,24,...,3,80,0,6,3,3,3,2,1,2
20,24,No,Non-Travel,673,Research & Development,11,2,Other,1,26,...,4,80,1,5,5,2,4,2,1,3
21,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,2,80,0,10,4,3,5,3,0,3
22,34,No,Travel_Rarely,419,Research & Development,7,4,Life Sciences,1,28,...,3,80,0,13,4,3,12,6,2,11
23,21,No,Travel_Rarely,391,Research & Development,15,2,Life Sciences,1,30,...,4,80,0,0,6,3,0,0,0,0
24,34,Yes,Travel_Rarely,699,Research & Development,6,1,Medical,1,31,...,3,80,0,8,2,3,4,2,1,3
25,53,No,Travel_Rarely,1282,Research & Development,5,3,Other,1,32,...,4,80,1,26,3,2,14,13,4,8
26,32,Yes,Travel_Frequently,1125,Research & Development,16,1,Life Sciences,1,33,...,2,80,0,10,5,3,10,2,6,7
27,42,No,Travel_Rarely,691,Sales,8,4,Marketing,1,35,...,4,80,1,10,2,3,9,7,4,2
28,44,No,Travel_Rarely,477,Research & Development,7,4,Medical,1,36,...,4,80,1,24,4,3,22,6,5,17
29,46,No,Travel_Rarely,705,Sales,2,4,Marketing,1,38,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,No,Travel_Frequently,688,Research & Development,4,2,Life Sciences,1,2025,...,2,80,3,18,3,3,4,2,0,2
1441,56,No,Non-Travel,667,Research & Development,1,4,Life Sciences,1,2026,...,1,80,1,13,2,2,13,12,1,9
1442,29,Yes,Travel_Rarely,1092,Research & Development,1,4,Medical,1,2027,...,2,80,3,4,3,4,2,2,2,2
1443,42,No,Travel_Rarely,300,Research & Development,2,3,Life Sciences,1,2031,...,1,80,0,24,2,2,22,6,4,14
1444,56,Yes,Travel_Rarely,310,Research & Development,7,2,Technical Degree,1,2032,...,4,80,1,14,4,1,10,9,9,8
1445,41,No,Travel_Rarely,582,Research & Development,28,4,Life Sciences,1,2034,...,3,80,1,21,3,3,20,7,0,10
1446,34,No,Travel_Rarely,704,Sales,28,3,Marketing,1,2035,...,4,80,2,8,2,3,8,7,1,7
1447,36,No,Non-Travel,301,Sales,15,4,Marketing,1,2036,...,1,80,1,15,4,2,15,12,11,11
1448,41,No,Travel_Rarely,930,Sales,3,3,Life Sciences,1,2037,...,3,80,1,14,5,3,5,4,0,4
1449,32,No,Travel_Rarely,529,Research & Development,2,3,Technical Degree,1,2038,...,4,80,0,4,4,3,4,2,1,2
1450,35,No,Travel_Rarely,1146,Human Resources,26,4,Life Sciences,1,2040,...,3,80,0,9,2,3,9,0,1,7
1451,38,No,Travel_Rarely,345,Sales,10,2,Life Sciences,1,2041,...,3,80,1,10,1,3,10,7,1,9
1452,50,Yes,Travel_Frequently,878,Sales,1,4,Life Sciences,1,2044,...,4,80,2,12,3,3,6,3,0,1
1453,36,No,Travel_Rarely,1120,Sales,11,4,Marketing,1,2045,...,1,80,1,8,2,2,6,3,0,0
1454,45,No,Travel_Rarely,374,Sales,20,3,Life Sciences,1,2046,...,3,80,0,8,3,3,5,3,0,1
1455,40,No,Travel_Rarely,1322,Research & Development,2,4,Life Sciences,1,2048,...,4,80,0,8,2,3,2,2,2,2
1456,35,No,Travel_Frequently,1199,Research & Development,18,4,Life Sciences,1,2049,...,4,80,2,10,2,4,10,2,0,2
1457,40,No,Travel_Rarely,1194,Research & Development,2,4,Medical,1,2051,...,2,80,3,20,2,3,5,3,0,2
1458,35,No,Travel_Rarely,287,Research & Development,1,4,Life Sciences,1,2052,...,4,80,1,4,5,3,4,3,1,1
1459,29,No,Travel_Rarely,1378,Research & Development,13,2,Other,1,2053,...,1,80,1,10,2,3,4,3,0,3
1460,29,No,Travel_Rarely,468,Research & Development,28,4,Medical,1,2054,...,2,80,0,5,3,1,5,4,0,4
1461,50,Yes,Travel_Rarely,410,Sales,28,3,Marketing,1,2055,...,2,80,1,20,3,3,3,2,2,0
1462,39,No,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,...,1,80,1,21,2,2,20,9,9,6
1463,31,No,Non-Travel,325,Research & Development,5,3,Medical,1,2057,...,2,80,0,10,2,3,9,4,1,7
1464,26,No,Travel_Rarely,1167,Sales,5,3,Other,1,2060,...,4,80,0,5,2,3,4,2,0,0
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [32]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
  Age                       1470 non-null int64
Attrition                   1470 non-null object
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null int64
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EmployeeCount               1470 non-null int64
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
Over18                      1470 non-null object
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StandardHours               1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(26), object(9)
memory usage: 402.0+ KB

In [33]:
y = dataset['Attrition'].values

In [34]:
y

array(['Yes', 'No', 'Yes', ..., 'No', 'No', 'No'], dtype=object)

In [35]:
dataset

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7
10,35,No,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,...,3,80,1,6,5,3,5,4,0,3
11,29,No,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,15,...,4,80,0,10,3,3,9,5,0,8
12,31,No,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,16,...,4,80,1,5,1,2,5,2,4,3
13,34,No,Travel_Rarely,1346,Research & Development,19,2,Medical,1,18,...,3,80,1,3,2,3,2,2,1,2
14,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,2,80,0,6,4,3,4,2,0,3
15,29,No,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,20,...,3,80,1,10,1,3,10,9,8,8
16,32,No,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,21,...,4,80,2,7,5,2,6,2,0,5
17,22,No,Non-Travel,1123,Research & Development,16,2,Medical,1,22,...,2,80,2,1,2,2,1,0,0,0
18,53,No,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,...,3,80,0,31,3,3,25,8,3,7
19,38,No,Travel_Rarely,371,Research & Development,2,3,Life Sciences,1,24,...,3,80,0,6,3,3,3,2,1,2
20,24,No,Non-Travel,673,Research & Development,11,2,Other,1,26,...,4,80,1,5,5,2,4,2,1,3
21,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,2,80,0,10,4,3,5,3,0,3
22,34,No,Travel_Rarely,419,Research & Development,7,4,Life Sciences,1,28,...,3,80,0,13,4,3,12,6,2,11
23,21,No,Travel_Rarely,391,Research & Development,15,2,Life Sciences,1,30,...,4,80,0,0,6,3,0,0,0,0
24,34,Yes,Travel_Rarely,699,Research & Development,6,1,Medical,1,31,...,3,80,0,8,2,3,4,2,1,3
25,53,No,Travel_Rarely,1282,Research & Development,5,3,Other,1,32,...,4,80,1,26,3,2,14,13,4,8
26,32,Yes,Travel_Frequently,1125,Research & Development,16,1,Life Sciences,1,33,...,2,80,0,10,5,3,10,2,6,7
27,42,No,Travel_Rarely,691,Sales,8,4,Marketing,1,35,...,4,80,1,10,2,3,9,7,4,2
28,44,No,Travel_Rarely,477,Research & Development,7,4,Medical,1,36,...,4,80,1,24,4,3,22,6,5,17
29,46,No,Travel_Rarely,705,Sales,2,4,Marketing,1,38,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,No,Travel_Frequently,688,Research & Development,4,2,Life Sciences,1,2025,...,2,80,3,18,3,3,4,2,0,2
1441,56,No,Non-Travel,667,Research & Development,1,4,Life Sciences,1,2026,...,1,80,1,13,2,2,13,12,1,9
1442,29,Yes,Travel_Rarely,1092,Research & Development,1,4,Medical,1,2027,...,2,80,3,4,3,4,2,2,2,2
1443,42,No,Travel_Rarely,300,Research & Development,2,3,Life Sciences,1,2031,...,1,80,0,24,2,2,22,6,4,14
1444,56,Yes,Travel_Rarely,310,Research & Development,7,2,Technical Degree,1,2032,...,4,80,1,14,4,1,10,9,9,8
1445,41,No,Travel_Rarely,582,Research & Development,28,4,Life Sciences,1,2034,...,3,80,1,21,3,3,20,7,0,10
1446,34,No,Travel_Rarely,704,Sales,28,3,Marketing,1,2035,...,4,80,2,8,2,3,8,7,1,7
1447,36,No,Non-Travel,301,Sales,15,4,Marketing,1,2036,...,1,80,1,15,4,2,15,12,11,11
1448,41,No,Travel_Rarely,930,Sales,3,3,Life Sciences,1,2037,...,3,80,1,14,5,3,5,4,0,4
1449,32,No,Travel_Rarely,529,Research & Development,2,3,Technical Degree,1,2038,...,4,80,0,4,4,3,4,2,1,2
1450,35,No,Travel_Rarely,1146,Human Resources,26,4,Life Sciences,1,2040,...,3,80,0,9,2,3,9,0,1,7
1451,38,No,Travel_Rarely,345,Sales,10,2,Life Sciences,1,2041,...,3,80,1,10,1,3,10,7,1,9
1452,50,Yes,Travel_Frequently,878,Sales,1,4,Life Sciences,1,2044,...,4,80,2,12,3,3,6,3,0,1
1453,36,No,Travel_Rarely,1120,Sales,11,4,Marketing,1,2045,...,1,80,1,8,2,2,6,3,0,0
1454,45,No,Travel_Rarely,374,Sales,20,3,Life Sciences,1,2046,...,3,80,0,8,3,3,5,3,0,1
1455,40,No,Travel_Rarely,1322,Research & Development,2,4,Life Sciences,1,2048,...,4,80,0,8,2,3,2,2,2,2
1456,35,No,Travel_Frequently,1199,Research & Development,18,4,Life Sciences,1,2049,...,4,80,2,10,2,4,10,2,0,2
1457,40,No,Travel_Rarely,1194,Research & Development,2,4,Medical,1,2051,...,2,80,3,20,2,3,5,3,0,2
1458,35,No,Travel_Rarely,287,Research & Development,1,4,Life Sciences,1,2052,...,4,80,1,4,5,3,4,3,1,1
1459,29,No,Travel_Rarely,1378,Research & Development,13,2,Other,1,2053,...,1,80,1,10,2,3,4,3,0,3
1460,29,No,Travel_Rarely,468,Research & Development,28,4,Medical,1,2054,...,2,80,0,5,3,1,5,4,0,4
1461,50,Yes,Travel_Rarely,410,Sales,28,3,Marketing,1,2055,...,2,80,1,20,3,3,3,2,2,0
1462,39,No,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,...,1,80,1,21,2,2,20,9,9,6
1463,31,No,Non-Travel,325,Research & Development,5,3,Medical,1,2057,...,2,80,0,10,2,3,9,4,1,7
1464,26,No,Travel_Rarely,1167,Sales,5,3,Other,1,2060,...,4,80,0,5,2,3,4,2,0,0
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [36]:
dataset.drop(columns='Attrition',inplace=True)

In [37]:
dataset

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,...,1,80,0,8,0,1,6,4,0,5
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,...,4,80,1,10,3,3,10,7,1,7
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,...,2,80,0,7,3,3,0,0,0,0
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,...,3,80,0,8,3,3,8,7,3,0
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,...,4,80,1,6,3,3,2,2,2,2
5,32,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,4,...,3,80,0,8,2,2,7,7,3,6
6,59,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,3,...,1,80,3,12,3,2,1,0,0,0
7,30,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,4,...,2,80,1,1,2,3,1,0,0,0
8,38,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,4,...,2,80,0,10,2,3,9,7,1,8
9,36,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,3,...,2,80,2,17,3,2,7,7,7,7
10,35,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,1,...,3,80,1,6,5,3,5,4,0,3
11,29,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,15,4,...,4,80,0,10,3,3,9,5,0,8
12,31,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,16,1,...,4,80,1,5,1,2,5,2,4,3
13,34,Travel_Rarely,1346,Research & Development,19,2,Medical,1,18,2,...,3,80,1,3,2,3,2,2,1,2
14,28,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,3,...,2,80,0,6,4,3,4,2,0,3
15,29,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,20,2,...,3,80,1,10,1,3,10,9,8,8
16,32,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,21,1,...,4,80,2,7,5,2,6,2,0,5
17,22,Non-Travel,1123,Research & Development,16,2,Medical,1,22,4,...,2,80,2,1,2,2,1,0,0,0
18,53,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,1,...,3,80,0,31,3,3,25,8,3,7
19,38,Travel_Rarely,371,Research & Development,2,3,Life Sciences,1,24,4,...,3,80,0,6,3,3,3,2,1,2
20,24,Non-Travel,673,Research & Development,11,2,Other,1,26,1,...,4,80,1,5,5,2,4,2,1,3
21,36,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,3,...,2,80,0,10,4,3,5,3,0,3
22,34,Travel_Rarely,419,Research & Development,7,4,Life Sciences,1,28,1,...,3,80,0,13,4,3,12,6,2,11
23,21,Travel_Rarely,391,Research & Development,15,2,Life Sciences,1,30,3,...,4,80,0,0,6,3,0,0,0,0
24,34,Travel_Rarely,699,Research & Development,6,1,Medical,1,31,2,...,3,80,0,8,2,3,4,2,1,3
25,53,Travel_Rarely,1282,Research & Development,5,3,Other,1,32,3,...,4,80,1,26,3,2,14,13,4,8
26,32,Travel_Frequently,1125,Research & Development,16,1,Life Sciences,1,33,2,...,2,80,0,10,5,3,10,2,6,7
27,42,Travel_Rarely,691,Sales,8,4,Marketing,1,35,3,...,4,80,1,10,2,3,9,7,4,2
28,44,Travel_Rarely,477,Research & Development,7,4,Medical,1,36,1,...,4,80,1,24,4,3,22,6,5,17
29,46,Travel_Rarely,705,Sales,2,4,Marketing,1,38,2,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,Travel_Frequently,688,Research & Development,4,2,Life Sciences,1,2025,4,...,2,80,3,18,3,3,4,2,0,2
1441,56,Non-Travel,667,Research & Development,1,4,Life Sciences,1,2026,3,...,1,80,1,13,2,2,13,12,1,9
1442,29,Travel_Rarely,1092,Research & Development,1,4,Medical,1,2027,1,...,2,80,3,4,3,4,2,2,2,2
1443,42,Travel_Rarely,300,Research & Development,2,3,Life Sciences,1,2031,1,...,1,80,0,24,2,2,22,6,4,14
1444,56,Travel_Rarely,310,Research & Development,7,2,Technical Degree,1,2032,4,...,4,80,1,14,4,1,10,9,9,8
1445,41,Travel_Rarely,582,Research & Development,28,4,Life Sciences,1,2034,1,...,3,80,1,21,3,3,20,7,0,10
1446,34,Travel_Rarely,704,Sales,28,3,Marketing,1,2035,4,...,4,80,2,8,2,3,8,7,1,7
1447,36,Non-Travel,301,Sales,15,4,Marketing,1,2036,4,...,1,80,1,15,4,2,15,12,11,11
1448,41,Travel_Rarely,930,Sales,3,3,Life Sciences,1,2037,3,...,3,80,1,14,5,3,5,4,0,4
1449,32,Travel_Rarely,529,Research & Development,2,3,Technical Degree,1,2038,4,...,4,80,0,4,4,3,4,2,1,2
1450,35,Travel_Rarely,1146,Human Resources,26,4,Life Sciences,1,2040,3,...,3,80,0,9,2,3,9,0,1,7
1451,38,Travel_Rarely,345,Sales,10,2,Life Sciences,1,2041,1,...,3,80,1,10,1,3,10,7,1,9
1452,50,Travel_Frequently,878,Sales,1,4,Life Sciences,1,2044,2,...,4,80,2,12,3,3,6,3,0,1
1453,36,Travel_Rarely,1120,Sales,11,4,Marketing,1,2045,2,...,1,80,1,8,2,2,6,3,0,0
1454,45,Travel_Rarely,374,Sales,20,3,Life Sciences,1,2046,4,...,3,80,0,8,3,3,5,3,0,1
1455,40,Travel_Rarely,1322,Research & Development,2,4,Life Sciences,1,2048,3,...,4,80,0,8,2,3,2,2,2,2
1456,35,Travel_Frequently,1199,Research & Development,18,4,Life Sciences,1,2049,3,...,4,80,2,10,2,4,10,2,0,2
1457,40,Travel_Rarely,1194,Research & Development,2,4,Medical,1,2051,3,...,2,80,3,20,2,3,5,3,0,2
1458,35,Travel_Rarely,287,Research & Development,1,4,Life Sciences,1,2052,3,...,4,80,1,4,5,3,4,3,1,1
1459,29,Travel_Rarely,1378,Research & Development,13,2,Other,1,2053,4,...,1,80,1,10,2,3,4,3,0,3
1460,29,Travel_Rarely,468,Research & Development,28,4,Medical,1,2054,4,...,2,80,0,5,3,1,5,4,0,4
1461,50,Travel_Rarely,410,Sales,28,3,Marketing,1,2055,4,...,2,80,1,20,3,3,3,2,2,0
1462,39,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,2,...,1,80,1,21,2,2,20,9,9,6
1463,31,Non-Travel,325,Research & Development,5,3,Medical,1,2057,2,...,2,80,0,10,2,3,9,4,1,7
1464,26,Travel_Rarely,1167,Sales,5,3,Other,1,2060,4,...,4,80,0,5,2,3,4,2,0,0
1465,36,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,3,...,3,80,1,17,3,3,5,2,0,3
1466,39,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,4,...,1,80,1,9,5,3,7,7,1,7
1467,27,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,2,...,2,80,1,6,0,3,6,2,0,3
1468,49,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,4,...,4,80,0,17,3,2,9,6,0,8
1469,34,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,2,...,1,80,0,6,3,4,4,3,1,2

In [38]:
dataset.drop(columns='DailyRate',inplace=True)

In [39]:
dataset

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Travel_Rarely,Sales,1,2,Life Sciences,1,1,2,Female,...,1,80,0,8,0,1,6,4,0,5
1,49,Travel_Frequently,Research & Development,8,1,Life Sciences,1,2,3,Male,...,4,80,1,10,3,3,10,7,1,7
2,37,Travel_Rarely,Research & Development,2,2,Other,1,4,4,Male,...,2,80,0,7,3,3,0,0,0,0
3,33,Travel_Frequently,Research & Development,3,4,Life Sciences,1,5,4,Female,...,3,80,0,8,3,3,8,7,3,0
4,27,Travel_Rarely,Research & Development,2,1,Medical,1,7,1,Male,...,4,80,1,6,3,3,2,2,2,2
5,32,Travel_Frequently,Research & Development,2,2,Life Sciences,1,8,4,Male,...,3,80,0,8,2,2,7,7,3,6
6,59,Travel_Rarely,Research & Development,3,3,Medical,1,10,3,Female,...,1,80,3,12,3,2,1,0,0,0
7,30,Travel_Rarely,Research & Development,24,1,Life Sciences,1,11,4,Male,...,2,80,1,1,2,3,1,0,0,0
8,38,Travel_Frequently,Research & Development,23,3,Life Sciences,1,12,4,Male,...,2,80,0,10,2,3,9,7,1,8
9,36,Travel_Rarely,Research & Development,27,3,Medical,1,13,3,Male,...,2,80,2,17,3,2,7,7,7,7
10,35,Travel_Rarely,Research & Development,16,3,Medical,1,14,1,Male,...,3,80,1,6,5,3,5,4,0,3
11,29,Travel_Rarely,Research & Development,15,2,Life Sciences,1,15,4,Female,...,4,80,0,10,3,3,9,5,0,8
12,31,Travel_Rarely,Research & Development,26,1,Life Sciences,1,16,1,Male,...,4,80,1,5,1,2,5,2,4,3
13,34,Travel_Rarely,Research & Development,19,2,Medical,1,18,2,Male,...,3,80,1,3,2,3,2,2,1,2
14,28,Travel_Rarely,Research & Development,24,3,Life Sciences,1,19,3,Male,...,2,80,0,6,4,3,4,2,0,3
15,29,Travel_Rarely,Research & Development,21,4,Life Sciences,1,20,2,Female,...,3,80,1,10,1,3,10,9,8,8
16,32,Travel_Rarely,Research & Development,5,2,Life Sciences,1,21,1,Male,...,4,80,2,7,5,2,6,2,0,5
17,22,Non-Travel,Research & Development,16,2,Medical,1,22,4,Male,...,2,80,2,1,2,2,1,0,0,0
18,53,Travel_Rarely,Sales,2,4,Life Sciences,1,23,1,Female,...,3,80,0,31,3,3,25,8,3,7
19,38,Travel_Rarely,Research & Development,2,3,Life Sciences,1,24,4,Male,...,3,80,0,6,3,3,3,2,1,2
20,24,Non-Travel,Research & Development,11,2,Other,1,26,1,Female,...,4,80,1,5,5,2,4,2,1,3
21,36,Travel_Rarely,Sales,9,4,Life Sciences,1,27,3,Male,...,2,80,0,10,4,3,5,3,0,3
22,34,Travel_Rarely,Research & Development,7,4,Life Sciences,1,28,1,Female,...,3,80,0,13,4,3,12,6,2,11
23,21,Travel_Rarely,Research & Development,15,2,Life Sciences,1,30,3,Male,...,4,80,0,0,6,3,0,0,0,0
24,34,Travel_Rarely,Research & Development,6,1,Medical,1,31,2,Male,...,3,80,0,8,2,3,4,2,1,3
25,53,Travel_Rarely,Research & Development,5,3,Other,1,32,3,Female,...,4,80,1,26,3,2,14,13,4,8
26,32,Travel_Frequently,Research & Development,16,1,Life Sciences,1,33,2,Female,...,2,80,0,10,5,3,10,2,6,7
27,42,Travel_Rarely,Sales,8,4,Marketing,1,35,3,Male,...,4,80,1,10,2,3,9,7,4,2
28,44,Travel_Rarely,Research & Development,7,4,Medical,1,36,1,Female,...,4,80,1,24,4,3,22,6,5,17
29,46,Travel_Rarely,Sales,2,4,Marketing,1,38,2,Female,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,Travel_Frequently,Research & Development,4,2,Life Sciences,1,2025,4,Female,...,2,80,3,18,3,3,4,2,0,2
1441,56,Non-Travel,Research & Development,1,4,Life Sciences,1,2026,3,Male,...,1,80,1,13,2,2,13,12,1,9
1442,29,Travel_Rarely,Research & Development,1,4,Medical,1,2027,1,Male,...,2,80,3,4,3,4,2,2,2,2
1443,42,Travel_Rarely,Research & Development,2,3,Life Sciences,1,2031,1,Male,...,1,80,0,24,2,2,22,6,4,14
1444,56,Travel_Rarely,Research & Development,7,2,Technical Degree,1,2032,4,Male,...,4,80,1,14,4,1,10,9,9,8
1445,41,Travel_Rarely,Research & Development,28,4,Life Sciences,1,2034,1,Female,...,3,80,1,21,3,3,20,7,0,10
1446,34,Travel_Rarely,Sales,28,3,Marketing,1,2035,4,Female,...,4,80,2,8,2,3,8,7,1,7
1447,36,Non-Travel,Sales,15,4,Marketing,1,2036,4,Male,...,1,80,1,15,4,2,15,12,11,11
1448,41,Travel_Rarely,Sales,3,3,Life Sciences,1,2037,3,Male,...,3,80,1,14,5,3,5,4,0,4
1449,32,Travel_Rarely,Research & Development,2,3,Technical Degree,1,2038,4,Male,...,4,80,0,4,4,3,4,2,1,2
1450,35,Travel_Rarely,Human Resources,26,4,Life Sciences,1,2040,3,Female,...,3,80,0,9,2,3,9,0,1,7
1451,38,Travel_Rarely,Sales,10,2,Life Sciences,1,2041,1,Female,...,3,80,1,10,1,3,10,7,1,9
1452,50,Travel_Frequently,Sales,1,4,Life Sciences,1,2044,2,Male,...,4,80,2,12,3,3,6,3,0,1
1453,36,Travel_Rarely,Sales,11,4,Marketing,1,2045,2,Female,...,1,80,1,8,2,2,6,3,0,0
1454,45,Travel_Rarely,Sales,20,3,Life Sciences,1,2046,4,Female,...,3,80,0,8,3,3,5,3,0,1
1455,40,Travel_Rarely,Research & Development,2,4,Life Sciences,1,2048,3,Male,...,4,80,0,8,2,3,2,2,2,2
1456,35,Travel_Frequently,Research & Development,18,4,Life Sciences,1,2049,3,Male,...,4,80,2,10,2,4,10,2,0,2
1457,40,Travel_Rarely,Research & Development,2,4,Medical,1,2051,3,Female,...,2,80,3,20,2,3,5,3,0,2
1458,35,Travel_Rarely,Research & Development,1,4,Life Sciences,1,2052,3,Female,...,4,80,1,4,5,3,4,3,1,1
1459,29,Travel_Rarely,Research & Development,13,2,Other,1,2053,4,Male,...,1,80,1,10,2,3,4,3,0,3
1460,29,Travel_Rarely,Research & Development,28,4,Medical,1,2054,4,Female,...,2,80,0,5,3,1,5,4,0,4
1461,50,Travel_Rarely,Sales,28,3,Marketing,1,2055,4,Male,...,2,80,1,20,3,3,3,2,2,0
1462,39,Travel_Rarely,Sales,24,1,Marketing,1,2056,2,Female,...,1,80,1,21,2,2,20,9,9,6
1463,31,Non-Travel,Research & Development,5,3,Medical,1,2057,2,Male,...,2,80,0,10,2,3,9,4,1,7
1464,26,Travel_Rarely,Sales,5,3,Other,1,2060,4,Female,...,4,80,0,5,2,3,4,2,0,0
1465,36,Travel_Frequently,Research & Development,23,2,Medical,1,2061,3,Male,...,3,80,1,17,3,3,5,2,0,3
1466,39,Travel_Rarely,Research & Development,6,1,Medical,1,2062,4,Male,...,1,80,1,9,5,3,7,7,1,7
1467,27,Travel_Rarely,Research & Development,4,3,Life Sciences,1,2064,2,Male,...,2,80,1,6,0,3,6,2,0,3
1468,49,Travel_Frequently,Sales,2,3,Medical,1,2065,4,Male,...,4,80,0,17,3,2,9,6,0,8
1469,34,Travel_Rarely,Research & Development,8,3,Medical,1,2068,2,Male,...,1,80,0,6,3,4,4,3,1,2

In [40]:
dataset.drop(columns='EmployeeCount',inplace=True)

In [41]:
dataset

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Travel_Rarely,Sales,1,2,Life Sciences,1,2,Female,94,...,1,80,0,8,0,1,6,4,0,5
1,49,Travel_Frequently,Research & Development,8,1,Life Sciences,2,3,Male,61,...,4,80,1,10,3,3,10,7,1,7
2,37,Travel_Rarely,Research & Development,2,2,Other,4,4,Male,92,...,2,80,0,7,3,3,0,0,0,0
3,33,Travel_Frequently,Research & Development,3,4,Life Sciences,5,4,Female,56,...,3,80,0,8,3,3,8,7,3,0
4,27,Travel_Rarely,Research & Development,2,1,Medical,7,1,Male,40,...,4,80,1,6,3,3,2,2,2,2
5,32,Travel_Frequently,Research & Development,2,2,Life Sciences,8,4,Male,79,...,3,80,0,8,2,2,7,7,3,6
6,59,Travel_Rarely,Research & Development,3,3,Medical,10,3,Female,81,...,1,80,3,12,3,2,1,0,0,0
7,30,Travel_Rarely,Research & Development,24,1,Life Sciences,11,4,Male,67,...,2,80,1,1,2,3,1,0,0,0
8,38,Travel_Frequently,Research & Development,23,3,Life Sciences,12,4,Male,44,...,2,80,0,10,2,3,9,7,1,8
9,36,Travel_Rarely,Research & Development,27,3,Medical,13,3,Male,94,...,2,80,2,17,3,2,7,7,7,7
10,35,Travel_Rarely,Research & Development,16,3,Medical,14,1,Male,84,...,3,80,1,6,5,3,5,4,0,3
11,29,Travel_Rarely,Research & Development,15,2,Life Sciences,15,4,Female,49,...,4,80,0,10,3,3,9,5,0,8
12,31,Travel_Rarely,Research & Development,26,1,Life Sciences,16,1,Male,31,...,4,80,1,5,1,2,5,2,4,3
13,34,Travel_Rarely,Research & Development,19,2,Medical,18,2,Male,93,...,3,80,1,3,2,3,2,2,1,2
14,28,Travel_Rarely,Research & Development,24,3,Life Sciences,19,3,Male,50,...,2,80,0,6,4,3,4,2,0,3
15,29,Travel_Rarely,Research & Development,21,4,Life Sciences,20,2,Female,51,...,3,80,1,10,1,3,10,9,8,8
16,32,Travel_Rarely,Research & Development,5,2,Life Sciences,21,1,Male,80,...,4,80,2,7,5,2,6,2,0,5
17,22,Non-Travel,Research & Development,16,2,Medical,22,4,Male,96,...,2,80,2,1,2,2,1,0,0,0
18,53,Travel_Rarely,Sales,2,4,Life Sciences,23,1,Female,78,...,3,80,0,31,3,3,25,8,3,7
19,38,Travel_Rarely,Research & Development,2,3,Life Sciences,24,4,Male,45,...,3,80,0,6,3,3,3,2,1,2
20,24,Non-Travel,Research & Development,11,2,Other,26,1,Female,96,...,4,80,1,5,5,2,4,2,1,3
21,36,Travel_Rarely,Sales,9,4,Life Sciences,27,3,Male,82,...,2,80,0,10,4,3,5,3,0,3
22,34,Travel_Rarely,Research & Development,7,4,Life Sciences,28,1,Female,53,...,3,80,0,13,4,3,12,6,2,11
23,21,Travel_Rarely,Research & Development,15,2,Life Sciences,30,3,Male,96,...,4,80,0,0,6,3,0,0,0,0
24,34,Travel_Rarely,Research & Development,6,1,Medical,31,2,Male,83,...,3,80,0,8,2,3,4,2,1,3
25,53,Travel_Rarely,Research & Development,5,3,Other,32,3,Female,58,...,4,80,1,26,3,2,14,13,4,8
26,32,Travel_Frequently,Research & Development,16,1,Life Sciences,33,2,Female,72,...,2,80,0,10,5,3,10,2,6,7
27,42,Travel_Rarely,Sales,8,4,Marketing,35,3,Male,48,...,4,80,1,10,2,3,9,7,4,2
28,44,Travel_Rarely,Research & Development,7,4,Medical,36,1,Female,42,...,4,80,1,24,4,3,22,6,5,17
29,46,Travel_Rarely,Sales,2,4,Marketing,38,2,Female,83,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,Travel_Frequently,Research & Development,4,2,Life Sciences,2025,4,Female,97,...,2,80,3,18,3,3,4,2,0,2
1441,56,Non-Travel,Research & Development,1,4,Life Sciences,2026,3,Male,57,...,1,80,1,13,2,2,13,12,1,9
1442,29,Travel_Rarely,Research & Development,1,4,Medical,2027,1,Male,36,...,2,80,3,4,3,4,2,2,2,2
1443,42,Travel_Rarely,Research & Development,2,3,Life Sciences,2031,1,Male,56,...,1,80,0,24,2,2,22,6,4,14
1444,56,Travel_Rarely,Research & Development,7,2,Technical Degree,2032,4,Male,72,...,4,80,1,14,4,1,10,9,9,8
1445,41,Travel_Rarely,Research & Development,28,4,Life Sciences,2034,1,Female,60,...,3,80,1,21,3,3,20,7,0,10
1446,34,Travel_Rarely,Sales,28,3,Marketing,2035,4,Female,95,...,4,80,2,8,2,3,8,7,1,7
1447,36,Non-Travel,Sales,15,4,Marketing,2036,4,Male,88,...,1,80,1,15,4,2,15,12,11,11
1448,41,Travel_Rarely,Sales,3,3,Life Sciences,2037,3,Male,57,...,3,80,1,14,5,3,5,4,0,4
1449,32,Travel_Rarely,Research & Development,2,3,Technical Degree,2038,4,Male,78,...,4,80,0,4,4,3,4,2,1,2
1450,35,Travel_Rarely,Human Resources,26,4,Life Sciences,2040,3,Female,31,...,3,80,0,9,2,3,9,0,1,7
1451,38,Travel_Rarely,Sales,10,2,Life Sciences,2041,1,Female,100,...,3,80,1,10,1,3,10,7,1,9
1452,50,Travel_Frequently,Sales,1,4,Life Sciences,2044,2,Male,94,...,4,80,2,12,3,3,6,3,0,1
1453,36,Travel_Rarely,Sales,11,4,Marketing,2045,2,Female,100,...,1,80,1,8,2,2,6,3,0,0
1454,45,Travel_Rarely,Sales,20,3,Life Sciences,2046,4,Female,50,...,3,80,0,8,3,3,5,3,0,1
1455,40,Travel_Rarely,Research & Development,2,4,Life Sciences,2048,3,Male,52,...,4,80,0,8,2,3,2,2,2,2
1456,35,Travel_Frequently,Research & Development,18,4,Life Sciences,2049,3,Male,80,...,4,80,2,10,2,4,10,2,0,2
1457,40,Travel_Rarely,Research & Development,2,4,Medical,2051,3,Female,98,...,2,80,3,20,2,3,5,3,0,2
1458,35,Travel_Rarely,Research & Development,1,4,Life Sciences,2052,3,Female,62,...,4,80,1,4,5,3,4,3,1,1
1459,29,Travel_Rarely,Research & Development,13,2,Other,2053,4,Male,46,...,1,80,1,10,2,3,4,3,0,3
1460,29,Travel_Rarely,Research & Development,28,4,Medical,2054,4,Female,73,...,2,80,0,5,3,1,5,4,0,4
1461,50,Travel_Rarely,Sales,28,3,Marketing,2055,4,Male,39,...,2,80,1,20,3,3,3,2,2,0
1462,39,Travel_Rarely,Sales,24,1,Marketing,2056,2,Female,60,...,1,80,1,21,2,2,20,9,9,6
1463,31,Non-Travel,Research & Development,5,3,Medical,2057,2,Male,74,...,2,80,0,10,2,3,9,4,1,7
1464,26,Travel_Rarely,Sales,5,3,Other,2060,4,Female,30,...,4,80,0,5,2,3,4,2,0,0
1465,36,Travel_Frequently,Research & Development,23,2,Medical,2061,3,Male,41,...,3,80,1,17,3,3,5,2,0,3
1466,39,Travel_Rarely,Research & Development,6,1,Medical,2062,4,Male,42,...,1,80,1,9,5,3,7,7,1,7
1467,27,Travel_Rarely,Research & Development,4,3,Life Sciences,2064,2,Male,87,...,2,80,1,6,0,3,6,2,0,3
1468,49,Travel_Frequently,Sales,2,3,Medical,2065,4,Male,63,...,4,80,0,17,3,2,9,6,0,8
1469,34,Travel_Rarely,Research & Development,8,3,Medical,2068,2,Male,82,...,1,80,0,6,3,4,4,3,1,2

In [42]:
dataset.drop(columns='EmployeeNumber',inplace=True)

In [43]:
dataset

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Travel_Rarely,Sales,1,2,Life Sciences,2,Female,94,3,...,1,80,0,8,0,1,6,4,0,5
1,49,Travel_Frequently,Research & Development,8,1,Life Sciences,3,Male,61,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Travel_Rarely,Research & Development,2,2,Other,4,Male,92,2,...,2,80,0,7,3,3,0,0,0,0
3,33,Travel_Frequently,Research & Development,3,4,Life Sciences,4,Female,56,3,...,3,80,0,8,3,3,8,7,3,0
4,27,Travel_Rarely,Research & Development,2,1,Medical,1,Male,40,3,...,4,80,1,6,3,3,2,2,2,2
5,32,Travel_Frequently,Research & Development,2,2,Life Sciences,4,Male,79,3,...,3,80,0,8,2,2,7,7,3,6
6,59,Travel_Rarely,Research & Development,3,3,Medical,3,Female,81,4,...,1,80,3,12,3,2,1,0,0,0
7,30,Travel_Rarely,Research & Development,24,1,Life Sciences,4,Male,67,3,...,2,80,1,1,2,3,1,0,0,0
8,38,Travel_Frequently,Research & Development,23,3,Life Sciences,4,Male,44,2,...,2,80,0,10,2,3,9,7,1,8
9,36,Travel_Rarely,Research & Development,27,3,Medical,3,Male,94,3,...,2,80,2,17,3,2,7,7,7,7
10,35,Travel_Rarely,Research & Development,16,3,Medical,1,Male,84,4,...,3,80,1,6,5,3,5,4,0,3
11,29,Travel_Rarely,Research & Development,15,2,Life Sciences,4,Female,49,2,...,4,80,0,10,3,3,9,5,0,8
12,31,Travel_Rarely,Research & Development,26,1,Life Sciences,1,Male,31,3,...,4,80,1,5,1,2,5,2,4,3
13,34,Travel_Rarely,Research & Development,19,2,Medical,2,Male,93,3,...,3,80,1,3,2,3,2,2,1,2
14,28,Travel_Rarely,Research & Development,24,3,Life Sciences,3,Male,50,2,...,2,80,0,6,4,3,4,2,0,3
15,29,Travel_Rarely,Research & Development,21,4,Life Sciences,2,Female,51,4,...,3,80,1,10,1,3,10,9,8,8
16,32,Travel_Rarely,Research & Development,5,2,Life Sciences,1,Male,80,4,...,4,80,2,7,5,2,6,2,0,5
17,22,Non-Travel,Research & Development,16,2,Medical,4,Male,96,4,...,2,80,2,1,2,2,1,0,0,0
18,53,Travel_Rarely,Sales,2,4,Life Sciences,1,Female,78,2,...,3,80,0,31,3,3,25,8,3,7
19,38,Travel_Rarely,Research & Development,2,3,Life Sciences,4,Male,45,3,...,3,80,0,6,3,3,3,2,1,2
20,24,Non-Travel,Research & Development,11,2,Other,1,Female,96,4,...,4,80,1,5,5,2,4,2,1,3
21,36,Travel_Rarely,Sales,9,4,Life Sciences,3,Male,82,2,...,2,80,0,10,4,3,5,3,0,3
22,34,Travel_Rarely,Research & Development,7,4,Life Sciences,1,Female,53,3,...,3,80,0,13,4,3,12,6,2,11
23,21,Travel_Rarely,Research & Development,15,2,Life Sciences,3,Male,96,3,...,4,80,0,0,6,3,0,0,0,0
24,34,Travel_Rarely,Research & Development,6,1,Medical,2,Male,83,3,...,3,80,0,8,2,3,4,2,1,3
25,53,Travel_Rarely,Research & Development,5,3,Other,3,Female,58,3,...,4,80,1,26,3,2,14,13,4,8
26,32,Travel_Frequently,Research & Development,16,1,Life Sciences,2,Female,72,1,...,2,80,0,10,5,3,10,2,6,7
27,42,Travel_Rarely,Sales,8,4,Marketing,3,Male,48,3,...,4,80,1,10,2,3,9,7,4,2
28,44,Travel_Rarely,Research & Development,7,4,Medical,1,Female,42,2,...,4,80,1,24,4,3,22,6,5,17
29,46,Travel_Rarely,Sales,2,4,Marketing,2,Female,83,3,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,Travel_Frequently,Research & Development,4,2,Life Sciences,4,Female,97,3,...,2,80,3,18,3,3,4,2,0,2
1441,56,Non-Travel,Research & Development,1,4,Life Sciences,3,Male,57,3,...,1,80,1,13,2,2,13,12,1,9
1442,29,Travel_Rarely,Research & Development,1,4,Medical,1,Male,36,3,...,2,80,3,4,3,4,2,2,2,2
1443,42,Travel_Rarely,Research & Development,2,3,Life Sciences,1,Male,56,3,...,1,80,0,24,2,2,22,6,4,14
1444,56,Travel_Rarely,Research & Development,7,2,Technical Degree,4,Male,72,3,...,4,80,1,14,4,1,10,9,9,8
1445,41,Travel_Rarely,Research & Development,28,4,Life Sciences,1,Female,60,2,...,3,80,1,21,3,3,20,7,0,10
1446,34,Travel_Rarely,Sales,28,3,Marketing,4,Female,95,2,...,4,80,2,8,2,3,8,7,1,7
1447,36,Non-Travel,Sales,15,4,Marketing,4,Male,88,1,...,1,80,1,15,4,2,15,12,11,11
1448,41,Travel_Rarely,Sales,3,3,Life Sciences,3,Male,57,2,...,3,80,1,14,5,3,5,4,0,4
1449,32,Travel_Rarely,Research & Development,2,3,Technical Degree,4,Male,78,3,...,4,80,0,4,4,3,4,2,1,2
1450,35,Travel_Rarely,Human Resources,26,4,Life Sciences,3,Female,31,3,...,3,80,0,9,2,3,9,0,1,7
1451,38,Travel_Rarely,Sales,10,2,Life Sciences,1,Female,100,3,...,3,80,1,10,1,3,10,7,1,9
1452,50,Travel_Frequently,Sales,1,4,Life Sciences,2,Male,94,3,...,4,80,2,12,3,3,6,3,0,1
1453,36,Travel_Rarely,Sales,11,4,Marketing,2,Female,100,2,...,1,80,1,8,2,2,6,3,0,0
1454,45,Travel_Rarely,Sales,20,3,Life Sciences,4,Female,50,3,...,3,80,0,8,3,3,5,3,0,1
1455,40,Travel_Rarely,Research & Development,2,4,Life Sciences,3,Male,52,2,...,4,80,0,8,2,3,2,2,2,2
1456,35,Travel_Frequently,Research & Development,18,4,Life Sciences,3,Male,80,3,...,4,80,2,10,2,4,10,2,0,2
1457,40,Travel_Rarely,Research & Development,2,4,Medical,3,Female,98,3,...,2,80,3,20,2,3,5,3,0,2
1458,35,Travel_Rarely,Research & Development,1,4,Life Sciences,3,Female,62,1,...,4,80,1,4,5,3,4,3,1,1
1459,29,Travel_Rarely,Research & Development,13,2,Other,4,Male,46,2,...,1,80,1,10,2,3,4,3,0,3
1460,29,Travel_Rarely,Research & Development,28,4,Medical,4,Female,73,2,...,2,80,0,5,3,1,5,4,0,4
1461,50,Travel_Rarely,Sales,28,3,Marketing,4,Male,39,2,...,2,80,1,20,3,3,3,2,2,0
1462,39,Travel_Rarely,Sales,24,1,Marketing,2,Female,60,2,...,1,80,1,21,2,2,20,9,9,6
1463,31,Non-Travel,Research & Development,5,3,Medical,2,Male,74,3,...,2,80,0,10,2,3,9,4,1,7
1464,26,Travel_Rarely,Sales,5,3,Other,4,Female,30,2,...,4,80,0,5,2,3,4,2,0,0
1465,36,Travel_Frequently,Research & Development,23,2,Medical,3,Male,41,4,...,3,80,1,17,3,3,5,2,0,3
1466,39,Travel_Rarely,Research & Development,6,1,Medical,4,Male,42,2,...,1,80,1,9,5,3,7,7,1,7
1467,27,Travel_Rarely,Research & Development,4,3,Life Sciences,2,Male,87,4,...,2,80,1,6,0,3,6,2,0,3
1468,49,Travel_Frequently,Sales,2,3,Medical,4,Male,63,2,...,4,80,0,17,3,2,9,6,0,8
1469,34,Travel_Rarely,Research & Development,8,3,Medical,2,Male,82,4,...,1,80,0,6,3,4,4,3,1,2

In [44]:
dataset.drop(columns='StandardHours',inplace = True)

In [45]:
dataset

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Travel_Rarely,Sales,1,2,Life Sciences,2,Female,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,Travel_Frequently,Research & Development,8,1,Life Sciences,3,Male,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Travel_Rarely,Research & Development,2,2,Other,4,Male,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,Travel_Frequently,Research & Development,3,4,Life Sciences,4,Female,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,Travel_Rarely,Research & Development,2,1,Medical,1,Male,40,3,...,3,4,1,6,3,3,2,2,2,2
5,32,Travel_Frequently,Research & Development,2,2,Life Sciences,4,Male,79,3,...,3,3,0,8,2,2,7,7,3,6
6,59,Travel_Rarely,Research & Development,3,3,Medical,3,Female,81,4,...,4,1,3,12,3,2,1,0,0,0
7,30,Travel_Rarely,Research & Development,24,1,Life Sciences,4,Male,67,3,...,4,2,1,1,2,3,1,0,0,0
8,38,Travel_Frequently,Research & Development,23,3,Life Sciences,4,Male,44,2,...,4,2,0,10,2,3,9,7,1,8
9,36,Travel_Rarely,Research & Development,27,3,Medical,3,Male,94,3,...,3,2,2,17,3,2,7,7,7,7
10,35,Travel_Rarely,Research & Development,16,3,Medical,1,Male,84,4,...,3,3,1,6,5,3,5,4,0,3
11,29,Travel_Rarely,Research & Development,15,2,Life Sciences,4,Female,49,2,...,3,4,0,10,3,3,9,5,0,8
12,31,Travel_Rarely,Research & Development,26,1,Life Sciences,1,Male,31,3,...,3,4,1,5,1,2,5,2,4,3
13,34,Travel_Rarely,Research & Development,19,2,Medical,2,Male,93,3,...,3,3,1,3,2,3,2,2,1,2
14,28,Travel_Rarely,Research & Development,24,3,Life Sciences,3,Male,50,2,...,3,2,0,6,4,3,4,2,0,3
15,29,Travel_Rarely,Research & Development,21,4,Life Sciences,2,Female,51,4,...,3,3,1,10,1,3,10,9,8,8
16,32,Travel_Rarely,Research & Development,5,2,Life Sciences,1,Male,80,4,...,3,4,2,7,5,2,6,2,0,5
17,22,Non-Travel,Research & Development,16,2,Medical,4,Male,96,4,...,3,2,2,1,2,2,1,0,0,0
18,53,Travel_Rarely,Sales,2,4,Life Sciences,1,Female,78,2,...,3,3,0,31,3,3,25,8,3,7
19,38,Travel_Rarely,Research & Development,2,3,Life Sciences,4,Male,45,3,...,3,3,0,6,3,3,3,2,1,2
20,24,Non-Travel,Research & Development,11,2,Other,1,Female,96,4,...,3,4,1,5,5,2,4,2,1,3
21,36,Travel_Rarely,Sales,9,4,Life Sciences,3,Male,82,2,...,4,2,0,10,4,3,5,3,0,3
22,34,Travel_Rarely,Research & Development,7,4,Life Sciences,1,Female,53,3,...,3,3,0,13,4,3,12,6,2,11
23,21,Travel_Rarely,Research & Development,15,2,Life Sciences,3,Male,96,3,...,3,4,0,0,6,3,0,0,0,0
24,34,Travel_Rarely,Research & Development,6,1,Medical,2,Male,83,3,...,3,3,0,8,2,3,4,2,1,3
25,53,Travel_Rarely,Research & Development,5,3,Other,3,Female,58,3,...,3,4,1,26,3,2,14,13,4,8
26,32,Travel_Frequently,Research & Development,16,1,Life Sciences,2,Female,72,1,...,4,2,0,10,5,3,10,2,6,7
27,42,Travel_Rarely,Sales,8,4,Marketing,3,Male,48,3,...,3,4,1,10,2,3,9,7,4,2
28,44,Travel_Rarely,Research & Development,7,4,Medical,1,Female,42,2,...,3,4,1,24,4,3,22,6,5,17
29,46,Travel_Rarely,Sales,2,4,Marketing,2,Female,83,3,...,3,4,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,Travel_Frequently,Research & Development,4,2,Life Sciences,4,Female,97,3,...,3,2,3,18,3,3,4,2,0,2
1441,56,Non-Travel,Research & Development,1,4,Life Sciences,3,Male,57,3,...,4,1,1,13,2,2,13,12,1,9
1442,29,Travel_Rarely,Research & Development,1,4,Medical,1,Male,36,3,...,3,2,3,4,3,4,2,2,2,2
1443,42,Travel_Rarely,Research & Development,2,3,Life Sciences,1,Male,56,3,...,3,1,0,24,2,2,22,6,4,14
1444,56,Travel_Rarely,Research & Development,7,2,Technical Degree,4,Male,72,3,...,3,4,1,14,4,1,10,9,9,8
1445,41,Travel_Rarely,Research & Development,28,4,Life Sciences,1,Female,60,2,...,4,3,1,21,3,3,20,7,0,10
1446,34,Travel_Rarely,Sales,28,3,Marketing,4,Female,95,2,...,4,4,2,8,2,3,8,7,1,7
1447,36,Non-Travel,Sales,15,4,Marketing,4,Male,88,1,...,4,1,1,15,4,2,15,12,11,11
1448,41,Travel_Rarely,Sales,3,3,Life Sciences,3,Male,57,2,...,3,3,1,14,5,3,5,4,0,4
1449,32,Travel_Rarely,Research & Development,2,3,Technical Degree,4,Male,78,3,...,3,4,0,4,4,3,4,2,1,2
1450,35,Travel_Rarely,Human Resources,26,4,Life Sciences,3,Female,31,3,...,3,3,0,9,2,3,9,0,1,7
1451,38,Travel_Rarely,Sales,10,2,Life Sciences,1,Female,100,3,...,3,3,1,10,1,3,10,7,1,9
1452,50,Travel_Frequently,Sales,1,4,Life Sciences,2,Male,94,3,...,3,4,2,12,3,3,6,3,0,1
1453,36,Travel_Rarely,Sales,11,4,Marketing,2,Female,100,2,...,3,1,1,8,2,2,6,3,0,0
1454,45,Travel_Rarely,Sales,20,3,Life Sciences,4,Female,50,3,...,3,3,0,8,3,3,5,3,0,1
1455,40,Travel_Rarely,Research & Development,2,4,Life Sciences,3,Male,52,2,...,3,4,0,8,2,3,2,2,2,2
1456,35,Travel_Frequently,Research & Development,18,4,Life Sciences,3,Male,80,3,...,3,4,2,10,2,4,10,2,0,2
1457,40,Travel_Rarely,Research & Development,2,4,Medical,3,Female,98,3,...,3,2,3,20,2,3,5,3,0,2
1458,35,Travel_Rarely,Research & Development,1,4,Life Sciences,3,Female,62,1,...,3,4,1,4,5,3,4,3,1,1
1459,29,Travel_Rarely,Research & Development,13,2,Other,4,Male,46,2,...,3,1,1,10,2,3,4,3,0,3
1460,29,Travel_Rarely,Research & Development,28,4,Medical,4,Female,73,2,...,3,2,0,5,3,1,5,4,0,4
1461,50,Travel_Rarely,Sales,28,3,Marketing,4,Male,39,2,...,3,2,1,20,3,3,3,2,2,0
1462,39,Travel_Rarely,Sales,24,1,Marketing,2,Female,60,2,...,3,1,1,21,2,2,20,9,9,6
1463,31,Non-Travel,Research & Development,5,3,Medical,2,Male,74,3,...,3,2,0,10,2,3,9,4,1,7
1464,26,Travel_Rarely,Sales,5,3,Other,4,Female,30,2,...,3,4,0,5,2,3,4,2,0,0
1465,36,Travel_Frequently,Research & Development,23,2,Medical,3,Male,41,4,...,3,3,1,17,3,3,5,2,0,3
1466,39,Travel_Rarely,Research & Development,6,1,Medical,4,Male,42,2,...,3,1,1,9,5,3,7,7,1,7
1467,27,Travel_Rarely,Research & Development,4,3,Life Sciences,2,Male,87,4,...,4,2,1,6,0,3,6,2,0,3
1468,49,Travel_Frequently,Sales,2,3,Medical,4,Male,63,2,...,3,4,0,17,3,2,9,6,0,8
1469,34,Travel_Rarely,Research & Development,8,3,Medical,2,Male,82,4,...,3,1,0,6,3,4,4,3,1,2

In [46]:
dataset.drop(columns='Over18',inplace = True)

In [47]:
dataset.shape

(1470, 29)

In [48]:
dataset

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Travel_Rarely,Sales,1,2,Life Sciences,2,Female,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,Travel_Frequently,Research & Development,8,1,Life Sciences,3,Male,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Travel_Rarely,Research & Development,2,2,Other,4,Male,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,Travel_Frequently,Research & Development,3,4,Life Sciences,4,Female,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,Travel_Rarely,Research & Development,2,1,Medical,1,Male,40,3,...,3,4,1,6,3,3,2,2,2,2
5,32,Travel_Frequently,Research & Development,2,2,Life Sciences,4,Male,79,3,...,3,3,0,8,2,2,7,7,3,6
6,59,Travel_Rarely,Research & Development,3,3,Medical,3,Female,81,4,...,4,1,3,12,3,2,1,0,0,0
7,30,Travel_Rarely,Research & Development,24,1,Life Sciences,4,Male,67,3,...,4,2,1,1,2,3,1,0,0,0
8,38,Travel_Frequently,Research & Development,23,3,Life Sciences,4,Male,44,2,...,4,2,0,10,2,3,9,7,1,8
9,36,Travel_Rarely,Research & Development,27,3,Medical,3,Male,94,3,...,3,2,2,17,3,2,7,7,7,7
10,35,Travel_Rarely,Research & Development,16,3,Medical,1,Male,84,4,...,3,3,1,6,5,3,5,4,0,3
11,29,Travel_Rarely,Research & Development,15,2,Life Sciences,4,Female,49,2,...,3,4,0,10,3,3,9,5,0,8
12,31,Travel_Rarely,Research & Development,26,1,Life Sciences,1,Male,31,3,...,3,4,1,5,1,2,5,2,4,3
13,34,Travel_Rarely,Research & Development,19,2,Medical,2,Male,93,3,...,3,3,1,3,2,3,2,2,1,2
14,28,Travel_Rarely,Research & Development,24,3,Life Sciences,3,Male,50,2,...,3,2,0,6,4,3,4,2,0,3
15,29,Travel_Rarely,Research & Development,21,4,Life Sciences,2,Female,51,4,...,3,3,1,10,1,3,10,9,8,8
16,32,Travel_Rarely,Research & Development,5,2,Life Sciences,1,Male,80,4,...,3,4,2,7,5,2,6,2,0,5
17,22,Non-Travel,Research & Development,16,2,Medical,4,Male,96,4,...,3,2,2,1,2,2,1,0,0,0
18,53,Travel_Rarely,Sales,2,4,Life Sciences,1,Female,78,2,...,3,3,0,31,3,3,25,8,3,7
19,38,Travel_Rarely,Research & Development,2,3,Life Sciences,4,Male,45,3,...,3,3,0,6,3,3,3,2,1,2
20,24,Non-Travel,Research & Development,11,2,Other,1,Female,96,4,...,3,4,1,5,5,2,4,2,1,3
21,36,Travel_Rarely,Sales,9,4,Life Sciences,3,Male,82,2,...,4,2,0,10,4,3,5,3,0,3
22,34,Travel_Rarely,Research & Development,7,4,Life Sciences,1,Female,53,3,...,3,3,0,13,4,3,12,6,2,11
23,21,Travel_Rarely,Research & Development,15,2,Life Sciences,3,Male,96,3,...,3,4,0,0,6,3,0,0,0,0
24,34,Travel_Rarely,Research & Development,6,1,Medical,2,Male,83,3,...,3,3,0,8,2,3,4,2,1,3
25,53,Travel_Rarely,Research & Development,5,3,Other,3,Female,58,3,...,3,4,1,26,3,2,14,13,4,8
26,32,Travel_Frequently,Research & Development,16,1,Life Sciences,2,Female,72,1,...,4,2,0,10,5,3,10,2,6,7
27,42,Travel_Rarely,Sales,8,4,Marketing,3,Male,48,3,...,3,4,1,10,2,3,9,7,4,2
28,44,Travel_Rarely,Research & Development,7,4,Medical,1,Female,42,2,...,3,4,1,24,4,3,22,6,5,17
29,46,Travel_Rarely,Sales,2,4,Marketing,2,Female,83,3,...,3,4,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,Travel_Frequently,Research & Development,4,2,Life Sciences,4,Female,97,3,...,3,2,3,18,3,3,4,2,0,2
1441,56,Non-Travel,Research & Development,1,4,Life Sciences,3,Male,57,3,...,4,1,1,13,2,2,13,12,1,9
1442,29,Travel_Rarely,Research & Development,1,4,Medical,1,Male,36,3,...,3,2,3,4,3,4,2,2,2,2
1443,42,Travel_Rarely,Research & Development,2,3,Life Sciences,1,Male,56,3,...,3,1,0,24,2,2,22,6,4,14
1444,56,Travel_Rarely,Research & Development,7,2,Technical Degree,4,Male,72,3,...,3,4,1,14,4,1,10,9,9,8
1445,41,Travel_Rarely,Research & Development,28,4,Life Sciences,1,Female,60,2,...,4,3,1,21,3,3,20,7,0,10
1446,34,Travel_Rarely,Sales,28,3,Marketing,4,Female,95,2,...,4,4,2,8,2,3,8,7,1,7
1447,36,Non-Travel,Sales,15,4,Marketing,4,Male,88,1,...,4,1,1,15,4,2,15,12,11,11
1448,41,Travel_Rarely,Sales,3,3,Life Sciences,3,Male,57,2,...,3,3,1,14,5,3,5,4,0,4
1449,32,Travel_Rarely,Research & Development,2,3,Technical Degree,4,Male,78,3,...,3,4,0,4,4,3,4,2,1,2
1450,35,Travel_Rarely,Human Resources,26,4,Life Sciences,3,Female,31,3,...,3,3,0,9,2,3,9,0,1,7
1451,38,Travel_Rarely,Sales,10,2,Life Sciences,1,Female,100,3,...,3,3,1,10,1,3,10,7,1,9
1452,50,Travel_Frequently,Sales,1,4,Life Sciences,2,Male,94,3,...,3,4,2,12,3,3,6,3,0,1
1453,36,Travel_Rarely,Sales,11,4,Marketing,2,Female,100,2,...,3,1,1,8,2,2,6,3,0,0
1454,45,Travel_Rarely,Sales,20,3,Life Sciences,4,Female,50,3,...,3,3,0,8,3,3,5,3,0,1
1455,40,Travel_Rarely,Research & Development,2,4,Life Sciences,3,Male,52,2,...,3,4,0,8,2,3,2,2,2,2
1456,35,Travel_Frequently,Research & Development,18,4,Life Sciences,3,Male,80,3,...,3,4,2,10,2,4,10,2,0,2
1457,40,Travel_Rarely,Research & Development,2,4,Medical,3,Female,98,3,...,3,2,3,20,2,3,5,3,0,2
1458,35,Travel_Rarely,Research & Development,1,4,Life Sciences,3,Female,62,1,...,3,4,1,4,5,3,4,3,1,1
1459,29,Travel_Rarely,Research & Development,13,2,Other,4,Male,46,2,...,3,1,1,10,2,3,4,3,0,3
1460,29,Travel_Rarely,Research & Development,28,4,Medical,4,Female,73,2,...,3,2,0,5,3,1,5,4,0,4
1461,50,Travel_Rarely,Sales,28,3,Marketing,4,Male,39,2,...,3,2,1,20,3,3,3,2,2,0
1462,39,Travel_Rarely,Sales,24,1,Marketing,2,Female,60,2,...,3,1,1,21,2,2,20,9,9,6
1463,31,Non-Travel,Research & Development,5,3,Medical,2,Male,74,3,...,3,2,0,10,2,3,9,4,1,7
1464,26,Travel_Rarely,Sales,5,3,Other,4,Female,30,2,...,3,4,0,5,2,3,4,2,0,0
1465,36,Travel_Frequently,Research & Development,23,2,Medical,3,Male,41,4,...,3,3,1,17,3,3,5,2,0,3
1466,39,Travel_Rarely,Research & Development,6,1,Medical,4,Male,42,2,...,3,1,1,9,5,3,7,7,1,7
1467,27,Travel_Rarely,Research & Development,4,3,Life Sciences,2,Male,87,4,...,4,2,1,6,0,3,6,2,0,3
1468,49,Travel_Frequently,Sales,2,3,Medical,4,Male,63,2,...,3,4,0,17,3,2,9,6,0,8
1469,34,Travel_Rarely,Research & Development,8,3,Medical,2,Male,82,4,...,3,1,0,6,3,4,4,3,1,2

In [78]:
x = dataset.iloc[:,0:31].values

In [79]:
x.shape

(1470, 29)

In [80]:
y

array(['Yes', 'No', 'Yes', ..., 'No', 'No', 'No'], dtype=object)

In [81]:
from sklearn.preprocessing import LabelEncoder

In [82]:
le=LabelEncoder()
x[:,1]=le.fit_transform(x[:,1])

In [83]:
le1=LabelEncoder()
x[:,2]=le1.fit_transform(x[:,2])

In [84]:
le1.classes_

array(['Human Resources', 'Research & Development', 'Sales'], dtype=object)

In [85]:
le2=LabelEncoder()
x[:,5]=le2.fit_transform(x[:,5])

In [86]:
le2.classes_

array(['Human Resources', 'Life Sciences', 'Marketing', 'Medical',
       'Other', 'Technical Degree'], dtype=object)

In [88]:
le3=LabelEncoder()
x[:,7]=le3.fit_transform(x[:,7])

In [90]:
le3.classes_

array([0, 1], dtype=object)

In [91]:
le4=LabelEncoder()
x[:,11]=le4.fit_transform(x[:,11])

In [92]:
le4.classes_

array(['Healthcare Representative', 'Human Resources',
       'Laboratory Technician', 'Manager', 'Manufacturing Director',
       'Research Director', 'Research Scientist', 'Sales Executive',
       'Sales Representative'], dtype=object)

In [93]:
le5=LabelEncoder()
x[:,13]=le5.fit_transform(x[:,13])

In [94]:
le6=LabelEncoder()
x[:,17]=le6.fit_transform(x[:,17])

In [95]:
le6.classes_

array(['No', 'Yes'], dtype=object)

In [96]:
le5.classes_

array(['Divorced', 'Married', 'Single'], dtype=object)

In [97]:
from sklearn.preprocessing import OneHotEncoder

In [98]:
oh=OneHotEncoder(categorical_features=[13])#Marital  Status

In [99]:
x=oh.fit_transform(x).toarray()

C:\Users\ADMIN\Anaconda3\Anaconda1\anaconda 2\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\ADMIN\Anaconda3\Anaconda1\anaconda 2\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [100]:
x=x[:,1:]

In [101]:
oh1=OneHotEncoder(categorical_features=[6])#Educational field

In [102]:
x=oh1.fit_transform(x).toarray()

C:\Users\ADMIN\Anaconda3\Anaconda1\anaconda 2\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\ADMIN\Anaconda3\Anaconda1\anaconda 2\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [103]:
x=x[:,1:]

In [104]:
oh1.categories_

[array([1., 2., 3., 4., 5.])]

In [105]:
lb_y=LabelEncoder()
y=lb_y.fit_transform(y)

In [106]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [107]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [108]:
x_train.shape

(1176, 33)

In [109]:
classifier = Sequential()
#add input layer
classifier.add(Dense(output_dim = 40, init = 'uniform', activation = 'relu', input_dim = x_train.shape[1]))
#Hidden layer
classifier.add(Dense(output_dim = 30, init = 'uniform', activation = 'relu'))
classifier.add(Dense(output_dim = 30, init = 'uniform', activation = 'relu'))

#output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

C:\Users\ADMIN\Anaconda3\Anaconda1\anaconda 2\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=33, units=40, kernel_initializer="uniform")`
  This is separate from the ipykernel package so we can avoid doing imports until

WARNING:tensorflow:From C:\Users\ADMIN\Anaconda3\Anaconda1\anaconda 2\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

C:\Users\ADMIN\Anaconda3\Anaconda1\anaconda 2\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=30, kernel_initializer="uniform")`
  """
C:\Users\ADMIN\Anaconda3\Anaconda1\anaconda 2\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=30, kernel_initializer="uniform")`

C:\Users\ADMIN\Anaconda3\Anaconda1\anaconda 2\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  if __name__ == '__main__':

In [110]:
classifier.fit(x_train, y_train, batch_size = 32, nb_epoch = 50)

C:\Users\ADMIN\Anaconda3\Anaconda1\anaconda 2\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

WARNING:tensorflow:From C:\Users\ADMIN\Anaconda3\Anaconda1\anaconda 2\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/50
1176/1176 [==============================] - 4s 3ms/step - loss: 0.6651 - acc: 0.8282
Epoch 2/50
1176/1176 [==============================] - 0s 151us/step - loss: 0.4549 - acc: 0.8401
Epoch 3/50
1176/1176 [==============================] - 0s 194us/step - loss: 0.3810 - acc: 0.8401
Epoch 4/50
1176/1176 [==============================] - 0s 139us/step - loss: 0.3599 - acc: 0.8401
Epoch 5/50
1176/1176 [==============================] - 0s 110us/step - loss: 0.3480 - acc: 0.8401
Epoch 6/50
1176/1176 [==============================] - 0s 131us/step - loss: 0.3364 - acc: 0.8401
Epoch 7/50
1176/1176 [==============================] - 0s 112us/step - loss: 0.3292 - acc: 0.8401
Epoch 8/50
1176/1176 [==============================] - 0s 134us/step - loss: 0.3192 - acc: 0.8401
Epoch 9/50
1176/1176 [==============================] - 0s 146us/step - loss: 0.3132 - acc: 0.8401
Epoch 10/50
1176/1176 [==============================] - 0s 110us/step - loss: 0.3056 - acc: 0.8401
Epoch 11/50
1176/1176 [==============================] - 0s 111us/step - loss: 0.3001 - acc: 0.8401
Epoch 12/50
1176/1176 [==============================] - 0s 105us/step - loss: 0.2921 - acc: 0.8639
Epoch 13/50
1176/1176 [==============================] - 0s 108us/step - loss: 0.2861 - acc: 0.8741
Epoch 14/50
1176/1176 [==============================] - 0s 139us/step - loss: 0.2813 - acc: 0.8801
Epoch 15/50
1176/1176 [==============================] - 0s 116us/step - loss: 0.2730 - acc: 0.8801
Epoch 16/50
1176/1176 [==============================] - 0s 124us/step - loss: 0.2690 - acc: 0.8937
Epoch 17/50
1176/1176 [==============================] - 0s 111us/step - loss: 0.2629 - acc: 0.8937
Epoch 18/50
1176/1176 [==============================] - 0s 152us/step - loss: 0.2557 - acc: 0.9022
Epoch 19/50
1176/1176 [==============================] - 0s 120us/step - loss: 0.2488 - acc: 0.9022
Epoch 20/50
1176/1176 [==============================] - 0s 127us/step - loss: 0.2442 - acc: 0.9022
Epoch 21/50
1176/1176 [==============================] - 0s 112us/step - loss: 0.2369 - acc: 0.9090
Epoch 22/50
1176/1176 [==============================] - 0s 122us/step - loss: 0.2269 - acc: 0.9116
Epoch 23/50
1176/1176 [==============================] - 0s 110us/step - loss: 0.2223 - acc: 0.9150
Epoch 24/50
1176/1176 [==============================] - 0s 156us/step - loss: 0.2110 - acc: 0.9209
Epoch 25/50
1176/1176 [==============================] - 0s 106us/step - loss: 0.2028 - acc: 0.9243
Epoch 26/50
1176/1176 [==============================] - 0s 123us/step - loss: 0.1945 - acc: 0.9354
Epoch 27/50
1176/1176 [==============================] - 0s 117us/step - loss: 0.1843 - acc: 0.9294
Epoch 28/50
1176/1176 [==============================] - 0s 156us/step - loss: 0.1757 - acc: 0.9371
Epoch 29/50
1176/1176 [==============================] - 0s 120us/step - loss: 0.1648 - acc: 0.9413
Epoch 30/50
1176/1176 [==============================] - 0s 132us/step - loss: 0.1573 - acc: 0.9481
Epoch 31/50
1176/1176 [==============================] - 0s 109us/step - loss: 0.1513 - acc: 0.9583
Epoch 32/50
1176/1176 [==============================] - 0s 134us/step - loss: 0.1457 - acc: 0.9575
Epoch 33/50
1176/1176 [==============================] - 0s 116us/step - loss: 0.1408 - acc: 0.9515
Epoch 34/50
1176/1176 [==============================] - 0s 129us/step - loss: 0.1288 - acc: 0.9660
Epoch 35/50
1176/1176 [==============================] - 0s 114us/step - loss: 0.1229 - acc: 0.9694
Epoch 36/50
1176/1176 [==============================] - 0s 121us/step - loss: 0.1146 - acc: 0.9736
Epoch 37/50
1176/1176 [==============================] - 0s 110us/step - loss: 0.1080 - acc: 0.9779
Epoch 38/50
1176/1176 [==============================] - 0s 178us/step - loss: 0.1093 - acc: 0.9770
Epoch 39/50
1176/1176 [==============================] - 0s 111us/step - loss: 0.1038 - acc: 0.9813
Epoch 40/50
1176/1176 [==============================] - 0s 130us/step - loss: 0.1028 - acc: 0.9804
Epoch 41/50
1176/1176 [==============================] - 0s 111us/step - loss: 0.0971 - acc: 0.9813
Epoch 42/50
1176/1176 [==============================] - 0s 158us/step - loss: 0.0992 - acc: 0.9830
Epoch 43/50
1176/1176 [==============================] - 0s 116us/step - loss: 0.0990 - acc: 0.9779
Epoch 44/50
1176/1176 [==============================] - 0s 121us/step - loss: 0.0957 - acc: 0.9813
Epoch 45/50
1176/1176 [==============================] - 0s 107us/step - loss: 0.0893 - acc: 0.9855
Epoch 46/50
1176/1176 [==============================] - 0s 123us/step - loss: 0.0872 - acc: 0.9847
Epoch 47/50
1176/1176 [==============================] - 0s 116us/step - loss: 0.0836 - acc: 0.9864
Epoch 48/50
1176/1176 [==============================] - 0s 154us/step - loss: 0.0848 - acc: 0.9838
Epoch 49/50
1176/1176 [==============================] - 0s 109us/step - loss: 0.0948 - acc: 0.9787
Epoch 50/50
1176/1176 [==============================] - 0s 126us/step - loss: 0.1093 - acc: 0.9668

In [111]:
y_pred = classifier.predict(x_test)
y_pred = (y_pred > 0.5)

In [112]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7993197278911565

In [113]:
my_pred=classifier.predict(sc.transform([[1,0,0,0, 0,1, 41, 2, 2, 1,1, 2, 0, 94, 3,2, 7, 4, 5993, 19479,8, 1, 11, 3, 1,0, 8, 0, 1, 6,4, 0, 5]]))

In [114]:
my_pred>0.5

array([[ True]])